# maven ignore
target/
!.mvn/wrapper/*
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.myeclipse/
.settings/
.project
.classpath
.mymetadata

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
/log/
*.log
*.log.*
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
